
<!DOCTYPE html>
<html>
<head>
<style>
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	text-align: left;
	padding: 15px;
}
tr:nth-child(even){background-color: #f2f2f2}

th{

	background-color: #4CAF50;
	color: white;
}

th {
	background-color: #4CAF50;
	color: white;
}

</style>
</head>
<body>

<h2>Colored Table Header</h2>

<table>
  <tr>
  <th>Number</th>
  <th>StreetAddress</th>
  <th>Zipcode</th>
  </tr>
  <th>

  <td>10889</td>
  <td>Palo Verde</td>
  <td>90815</td>
  </tr>
  </table>

  <td>10887</td>
  <td>Aturton Street</td>
  <td>90815</td>
  </tr>
  </table>
  
  </body>
  </html>

