.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* remove green underline in login page */
input:focus:not([read-only]) {
	border-bottom: none!important;
	box-shadow: none!important;	
} 

/* button[input="button"]{
  background-color:"#37474f";
} */